* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #7E354D;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: black;
}
  
#etchPad {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
    border: 1px solid #7E354D;
    /*box-shadow: 7px 7px 5px 1px rgb(92, 92, 92, .2);
*/}
  
.row, .cell {
    display: flex;
    flex: 1;
}
   
.cell {
    border: 1px solid rgb(92, 92, 92, .1);
}

#inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #7E354D;
    padding: 3px;
}

#rangeDisplay {
    border: 0px solid #7E354D;
}

input[type="range"] {
    width: 200px;
    margin: 10px;
}
#colorPreview {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #7E354D;
}