* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
  
#etchPad {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
    border: 1px solid black;
    box-shadow: 7px 7px 5px 1px rgb(92, 92, 92, .2);
}
  
.row, .cell {
    display: flex;
    flex: 1;
}
   
.cell {
    border: 1px solid rgb(92, 92, 92, .1);
}

#inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
}

#rangeDisplay {
    border: 0px solid black;
}

input[type="range"] {
    width: 200px;
    margin: 10px;
}
#colorPreview {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid black;
}